@model lab27_brian.Models.RegistrationViewModel

<form method="post">
    <div asp-validation-summary="All"></div>
    <h3>Please register your account</h3>

    <label asp-for="FirstName"></label>
    <input asp-for="FirstName"/>
    <span asp-validation-for="FirstName"></span>

    <label asp-for="LastName"></label>
    <input asp-for="LastName"/>
    <span asp-validation-for="LastName"></span><br/>
    
    <label asp-for="Email"></label>
    <input asp-for="Email"/>
    <span asp-validation-for="Email"></span>
    
    <label asp-for="ConrimEmail"></label>
    <input asp-for="ConrimEmail"/>
    <span asp-validation-for="ConrimEmail"></span><br/>
    
    <label asp-for="Password"></label>
    <input asp-for="Password"/>
    <span asp-validation-for="Password"></span>
    
    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword"/>
    <span asp-validation-for="ConfirmPassword"></span><br/>
    
    <button type="submit">Complete Registration</button>
</form>